.card{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: blueviolet;
    color: fuchsia;
    border-radius: 50%;
    margin: 13px;
    justify-content: center;
    align-items: center;
}
#category{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}