
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2196f3; /* כחול כהה */
    color: #ff9800;
  }
  
  .header button {
    background-color: #64b5f6; /* כחול בהיר */
    color: #ff9800;
    font-weight:bold
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .header button:hover {
    background-color: #1976d2; /* כחול כהה יותר בעת העטפת */
  }
  
  /* עיצוב יותר מודרני לאייקונים */
  .header svg {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;

  }
  
  /* עיצוב לסימן השולף בתיק הקניות */
  .header .MuiBadge-badge {
    right: -5px;
    top: 0;
    border: 2px solid #ff9800;
    padding: 0 5px;
    background-color: #f50057; /* כחול כהה */
  }
  


